<!DOCTYPE html>
<html lang="en">
<body style="background-color:rgb(47, 132, 115);">

<head>
    <meta charset="UTF-8">
    <title>What are you reading?</title>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
    <style>
        nav a {
            color: #e1ecea;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

        .book {
            padding: 20px;
            margin: 10px;
        }

        .review {
                margin-left: 50px;
                font-size: 20px;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('add_book') }}">Add a Book</a>
        <a href="{{ url_for('books') }}">Books</a>
      </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <form action = "/setcookie" method = "POST"> 
        <p><h3>Enter userID</h3></p> 
        <p><input type = 'text' name = 'nm'/></p> 
        <p><input type = 'submit' value = 'Login'/></p> 
    </form> 
</body>
</html>