<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What are you reading?</title>
    <style>
        nav a {
            color: #107a61;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

        .book {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

        .review {
                margin-left: 50px;
                font-size: 20px;
        }

    </style>
</head>
<body>
    <nav>
        <a href="/index">1000 Books Before Kindergarten</a>
        <a href="/add_book">Add a Book</a>
        <a href="/books">Reading History</a>

    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>